
<div class="sidebar" id="textbar">
  <ul>
	 <li><a href="https://vadoc.virginia.gov/about/">About Us</a></li>
	 <li><a href="https://vadoc.virginia.gov/victim/">Victim Services</a></li>
	 <li><a href="https://vadoc.virginia.gov/offenders/">Offenders</a></li>
	 <li><a href="https://vadoc.virginia.gov/facilities/">Facilities</a></li>
	 <li><a href="https://vadoc.virginia.gov/community/">Community Corrections</a></li>
	 <li><a href="https://vadoc.virginia.gov/careers/">Career Opportunities</a></li>
	 <li><a href="https://vadoc.virginia.gov/procure/">Procurement</a></li>
	 <li><a href="https://vadoc.virginia.gov/forms/">Forms</a></li>
	 <li><a href="https://vadoc.virginia.gov/resources/">Resources and Links</a></li>
	 <li><a href="https://vadoc.virginia.gov/boards/">Board of Corrections</a></li>
	 <li><a href="https://vadoc.virginia.gov/news/">News &amp; Press Releases</a></li>
	 <li><a href="https://vadoc.virginia.gov/contact.shtm">Contact Us</a></li>	 
  </ul>

 
</div>