<header>


    <nav id="mobile-nav">
        <button id="open-nav">
            <span id="top"></span>
            <span id="middle"></span>
            <span id="bottom"></span>
        </button>
        <figure class="col-3 mar-r-1 doc-logo">
            <a href="/">
                <img src="/images/home/header/DOC-Logo-RGB.png" alt="Virginia Department of Corrections Logo" />
            </a>
        </figure>
        <button id="open-search"></button>
        <form action="https://int.vadoc.virginia.gov/search-results/" class="site-search" method="post">
            <label class="accessibility-hidden" for="search-term">Search Term</label>
            <input id="search-term" type="text" name="search" placeholder="Search the Site">
            <button type="submit"><span class="accessibility-hidden">search</span></button>
        </form>

        <div class="modal-overlay"></div>
        <div class="mobile-nav-window">
            <div class="content-wrapper">
                <div class="mobile-nav-content">
                    <p class="resources-for">Resources For</p>
                    <ul>
                        <li class="top-level dropdown">
                            <input type="checkbox" id="dropdown-5">
                            <label for="dropdown-5">
                                General Public
                            </label>
                            <ul class="mobile-dropdown-menu">
                                <li>
                                    <a href="/public-resources/">Overview</a>
                                </li>
                                <li>
                                    <a href="/public-resources/offender-locator/">Offender Locator</a>
                                </li>
                                <li>
                                    <a href="/public-resources/foia/">Freedom of Information Act</a>
                                </li>
                                <li>
                                    <a href="/public-resources/prea-reports/">Prison Rape Elimination Act Reports</a>
                                </li>
                                <li>
                                    <a href="/public-resources/operating-procedures/">Operating Procedures</a>
                                </li>
                                <li>
                                    <a href="/public-resources/financial-reports/">Financial Reports</a>
                                </li>
                                <li>
                                    <a href="/public-resources/procurement/">Procurement</a>
                                </li>
                                <li>
                                    <a href="/public-resources/most-wanted/">VADOC Most Wanted</a>
                                </li>
                            </ul>
                        </li>
                        <li class="top-level dropdown">
                            <input type="checkbox" id="dropdown-7">
                            <label for="dropdown-7">
                                Victims
                            </label>
                            <ul class="mobile-dropdown-menu">
                                <li>
                                    <a href="/victim-services/">Overview</a>
                                </li>
                                <li>
                                    <a href="/victim-services/notifications/">Notifications</a>
                                </li>
                                <li>
                                    <a href="/victim-services/community-resources/">Community Resources</a>
                                </li>
                                <li>
                                    <a href="/victim-services/victim-centered-programs/">Victim-Centered Programs</a>
                                </li>
                                <li>
                                    <a href="/victim-services/victim-restitution/">Victim Restitution</a>
                                </li>
                                <li>
                                    <a href="/victim-services/victim-compensation/">Victim Compensation</a>
                                </li>
                                <li>
                                    <a href="/victim-services/safety-planning/">Safety Planning</a>
                                </li>
                            </ul>
                        </li>
                        <li class="top-level dropdown">
                            <input type="checkbox" id="dropdown-8">
                            <label for="dropdown-8">
                                Offenders
                            </label>
                            <ul class="mobile-dropdown-menu">
                                <li>
                                    <a href="/offender-resources/">Overview</a>
                                </li>
                                <li>
                                    <a href="/offender-resources/prea/">Prison Rape Elimination Act</a>
                                </li>
                                <li>
                                    <a href="/offender-resources/health-services/">Health Services</a>
                                </li>
                                <li>
                                    <a href="/offender-resources/ada/">Americans with Disabilities Act</a>
                                </li>
                                <li>
                                    <a href="/offender-resources/community-supervision-overview/">Community Supervision</a>
                                </li>
                                <li>
                                    <a href="/offender-resources/incarcerated-overview/">Incarcerated</a>
                                </li>
                            </ul>
                        </li>
                        <li class="top-level dropdown">
                            <input type="checkbox" id="dropdown-9">
                            <label for="dropdown-9">
                                Family &amp; Friends of Offenders
                            </label>
                            <ul class="mobile-dropdown-menu">
                                <li>
                                    <a href="/families-and-friends/">Overview</a>
                                </li>
                                <li>
                                    <a href="/families-and-friends/directions-for-sending-money/">Directions For Sending Money</a>
                                </li>
                                <li>
                                    <a href="/families-and-friends/mail-procedures-restrictions/">Mail Procedures &amp; Restrictions</a>
                                </li>
                                <li>
                                    <a href="/families-and-friends/telephone-procedures/">Telephone Procedures</a>
                                </li>
                                <li>
                                    <a href="/families-and-friends/visitation/">Visitation</a>
                                </li>
                                <li>
                                    <a href="/families-and-friends/out-of-state-incarceration-supervision/">Out-of-State Incarceration &amp; Supervision</a>
                                </li>
                            </ul>
                        </li>
                        <li id="mobile-facilities-link" class="top-level">
                            <a href="/facilities-and-offices/">Facilities &amp; Offices</a>
                        </li>
                        <li class="top-level">
                            <a href="/about/">About</a>
                        </li>
                        <li class="top-level">
                            <a href="/job-opportunities/">Jobs</a>
                        </li>
                        <li class="top-level">
                            <a href="/contact-us/">Contact</a>
                        </li>
                        <li class="top-level">
                            <a href="/news/">News</a>
                        </li>
                    </ul>
                </div>
                <button class="close-mobile-nav">
                    <span class="accessibility-hidden">close mobile navigation window</span>
                </button>
            </div>
        </div>
    </nav>

    <div id="hero-banner">


        <nav id="secondary-nav">
            <ul class="content-wrapper" id="vita-links">
                <li id="vita-cardinal">

                    <img src="/images/nav/secondary-nav/cardinal.svg">
                    <span>An Agency of the Commonwealth of Virginia</span>

                </li>
                <li class="right">
                    <a href="https://www.virginia.gov/agencies" target="_blank">Find an Agency</a>
                </li>
                <li class="right">
                    <a href="https://www.virginia.gov" target="_blank">Virginia.gov</a>
                </li>
            </ul>

            <ul id="primary-page-links" class="content-wrapper">
                <li>
                    <a href="https://int.vadoc.virginia.gov/">
                        <i id="home-icon" class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <!-- Uncomment facilities link for dropdown -->
                <li>
                    <!-- class="dropdown-navlink" -->
                    <a href="https://int.vadoc.virginia.gov/facilities-and-offices/">
                        <!-- <span> -->
                        Facilities &amp; Offices
                        <!-- </span>
                        <img src="images/nav/drop-arrows-down-grey.svg" aria-hidden="true"> -->
                    </a>
                </li>
                <li class="with-divider">
                    <a href="https://int.vadoc.virginia.gov/about/">About</a>
                    <img class="divider" src="/images/nav/secondary-nav/nav-divider.svg" aria-hidden='true' alt="">
                </li>
                <li class="with-divider">
                    <a href="https://int.vadoc.virginia.gov/job-opportunities/">Jobs</a>
                    <img class="divider" src="/images/nav/secondary-nav/nav-divider.svg" aria-hidden='true' alt="">
                </li>
                <li class="with-divider">
                    <a href="https://int.vadoc.virginia.gov/contact-us/">Contact</a>
                    <img class="divider" src="/images/nav/secondary-nav/nav-divider.svg" aria-hidden='true' alt="">
                </li>
                <li>
                    <a href="https://int.vadoc.virginia.gov/news/">News</a>
                </li>
                <li class="banner-search col-9">
                    <form action="https://int.vadoc.virginia.gov/search-results/" class="site-search" method="post">
                        <label class="accessibility-hidden" for="search-term">Search Term</label>
                        <input id="search-term" type="text" name="search" placeholder="Search the Site">
                        <button type="submit"><span class="accessibility-hidden">search</span></button>
                    </form>
                </li>
            </ul>

        </nav>


        <nav id="main-nav">
            <dl id="main-nav-list" class="content-wrapper dark-background">
                <dt id="resources-label" aria-hidden="true">Resources For:</dt>
                <dd class="dropdown-navlink">
                    <a href="https://int.vadoc.virginia.gov/families-and-friends/">
                        <img src="/images/nav/main-nav/family-friends.svg" class="nav-icon" aria-hidden="true" />
                        <span class="accessibility-hidden">Resources For&nbsp;</span>
                        <span>Family &amp; Friends of Offenders</span>
                        <img src="/images/nav/drop-arrows-down.svg" aria-hidden="true" />
                    </a>
                    <ul class="dropdown-menu col-16">
                        <li>
                            <a href="https://int.vadoc.virginia.gov/families-and-friends/directions-for-sending-money/">Directions For Sending Money</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/families-and-friends/mail-procedures-restrictions/">Mail Procedures &amp; Restrictions</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/families-and-friends/telephone-procedures/">Telephone Procedures</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/families-and-friends/visitation/">Visitation</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/families-and-friends/out-of-state-incarceration-supervision/">Out-of-State Incarceration &amp; Supervision</a>
                        </li>
                    </ul>
                </dd>
                <dd class="dropdown-navlink">
                    <a href="https://int.vadoc.virginia.gov/offender-resources/">
                        <img src="/images/nav/main-nav/offenders.svg" class="nav-icon" aria-hidden="true" />
                        <span class="accessibility-hidden">Resources For&nbsp;</span>
                        <span>Offenders</span>
                        <img src="/images/nav/drop-arrows-down.svg" aria-hidden="true" />
                    </a>
                    <ul class="dropdown-menu three-col-dropdown col-24">
                        <li class="dropdown-menu-list-column col-6">
                            <dl class="dropdown-menu-list">
                                <dt class="accessibility-hidden">General Resources for Offenders</dt>
                                <dd>
                                    <a href="https://int.vadoc.virginia.gov/offender-resources/prea/">Prison Rape Elimination Act</a>
                                </dd>
                                <dd>
                                    <a href="https://int.vadoc.virginia.gov/offender-resources/health-services/">Health Services</a>
                                </dd>
                                <dd>
                                    <a href="https://int.vadoc.virginia.gov/offender-resources/ada/">Americans with Disabilities Act</a>
                                </dd>
                            </dl>
                        </li>
                        <li class="dropdown-menu-list-column col-6">
                            <dl class="dropdown-menu-list">
                                <dt>Community Supervision</dt>
                                <dd><a href="https://int.vadoc.virginia.gov/offender-resources/community-supervision-overview/probation-parole/">Probation &amp; Parole</a></dd>
                                <dd><a href="https://int.vadoc.virginia.gov/offender-resources/community-supervision-overview/types-of-supervision/">Types of Supervision</a></dd>

                            </dl>
                        </li>
                        <li class="dropdown-menu-list-column col-6">
                            <dl class="dropdown-menu-list">
                                <dt>Incarcerated</dt>
                                <dd><a href="https://int.vadoc.virginia.gov/offender-resources/incarcerated-overview/programs/">Programs</a></dd>

                            </dl>
                        </li>
                    </ul>
                </dd>
                <dd class="dropdown-navlink">
                    <a href="https://int.vadoc.virginia.gov/victim-services/">
                        <img src="/images/nav/main-nav/victims.svg" class="nav-icon" aria-hidden="true" />
                        <span class="accessibility-hidden">Resources For&nbsp;</span>
                        <span>Victims</span>
                        <img src="/images/nav/drop-arrows-down.svg" aria-hidden="true" />
                    </a>
                    <ul class="dropdown-menu col-16">
                        <li>
                            <a href="https://int.vadoc.virginia.gov/victim-services/notifications/">Notifications</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/victim-services/community-resources/">Community Resources</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/victim-services/victim-centered-programs/">Victim-Centered Programs</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/victim-services/victim-restitution/">Victim Restitution</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/victim-services/victim-compensation/">Victim Compensation</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/victim-services/safety-planning/">Safety Planning</a>
                        </li>
                    </ul>
                </dd>

                <dd class="dropdown-navlink">
                    <a href="https://int.vadoc.virginia.gov/public-resources/">
                        <img src="/images/nav/main-nav/general-public.svg" class="nav-icon" aria-hidden="true" />
                        <span class="accessibility-hidden">Resources For&nbsp;</span>
                        <span>General Public</span>
                        <img src="/images/nav/drop-arrows-down.svg" aria-hidden="true" />
                    </a>
                    <ul class="dropdown-menu col-17">
                        <li>
                            <a href="https://int.vadoc.virginia.gov/public-resources/offender-locator/">Offender Locator</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/public-resources/foia/">Freedom of Information Act</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/public-resources/prea-reports/">Prison Rape Elimination Act Reports</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/public-resources/operating-procedures/">Operating Procedures</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/public-resources/financial-reports/">Financial Reports</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/public-resources/procurement/">Procurement</a>
                        </li>
                        <li>
                            <a href="https://int.vadoc.virginia.gov/public-resources/most-wanted/">VADOC Most Wanted</a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </nav>





        <div id="general-hero-wrapper" class="content-wrapper clear-fix">
            <figure class="col-3 mar-r-1 doc-logo">
                <a href="/">
                    <img src="/images/global/header/DOC-Logo-White-Transparent-BG.png" alt="Virginia Department of Corrections Logo">
                </a>
            </figure>
            <div id="heading-wrapper">
                <a class="section-breadcrumb" href="/families-and-friends/">Families and Friends &nbsp;//</a>
                <h1>Visitation Overview</h1>
            </div>
        </div>

    </div>
</header>
